.DS_Store
.env

# Fichiers temporaires word/excel
~$*

# Folders
data/
biblio/
models/

# Data Files
*.csv
*.xml

# Python/Jupyter Artifacts
__pycache__/
*.py[cod]
*.ipynb_checkpoints/

# VSCode Settings
.vscode/

# Knitr and Quarto Cache
_cache/
*_cache/
_knit_cache/
*.utf8.md

# Ignore directories that store output assets from Quarto
*_files/